* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Parallax sections */
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000;
}

.bg1 {
    background-image: url('https://i.pinimg.com/736x/fd/76/ff/fd76ff564be064d99c64c7098e06de56.jpg');
    
    
}

.bg2 {
    background-image: url('https://i.pinimg.com/736x/67/df/5e/67df5e5a7bf11d56045aa801e56947af.jpg');
  

/* Middle content block */
.content {
    width: 50%;
    background-color: black;
    color: white;
    padding: 100px 20px;
    text-align: center;
    font-size: 1.5em;
}
p {
    text-align: center;
    }
    .mainpage {
        display: flex;
    }